name: $(Build.SourceBranch)-$(date:yyyyMMdd)$(rev:.r)
# Pipeline triggers on any branch and tag
trigger:
  branches:
    include:
      - '*'
  tags:
    include:
      - '*'

resources:
  repositories:
    - repository: templates
      type:       github
      name:       statisticsnorway/azure-pipelines-templates
      ref:        refs/heads/java-app-complete-build
      endpoint:   statisticsnorway

# Pipeline will be run on this base image
pool:
  vmImage: 'ubuntu-latest'

# Variables global to this pipeline
# https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables
variables:
  # Variables defined in Pipelines->Library->Variable Groups in your project in
  # Azure Pipelines
  - group: Hemmeligheter
  # Variables defined here
  - name:  MAVEN_CACHE_FOLDER
    value: $(Pipeline.Workspace)/.m2/repository
  - name: MAVEN_OPTS
    value: '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

# Job which will run mvn build, mvn install and Sonar Analysis (if branch is master)
jobs:

  - template: java/app-complete-build.yml@templates
    parameters:
      artifactName: dapla-dlp-pseudo-service
      gcrNamespace: dapla
      mavenContainer: maven:3.8-openjdk-17
      checkStyleRunAnalysis: true
      pmdRunAnalysis: true
      sonarQubeRunAnalysis: false
      sonarCloud: bipSonarCloud-Dapla

  - job: buildAndPushDockerImageHack
    dependsOn: javaAppCompleteBuild
    displayName: 'Build and push docker image'
    steps:

      # Download pipeline artifact
      - download: current
        displayName: 'Download pipeline artifact'
        patterns: |
          **/dapla-dlp-pseudo-service-*.jar
          **/logback*.xml
        artifact: target

      #Copy pipeline artifact into working directory
      - bash: |
          ls -latr $(Pipeline.Workspace)/target
          cp -r $(Pipeline.Workspace)/target .
          ls -latr target
        displayName: 'Copy pipeline artifact into working directory'
      #Create image tag
      - bash: |
          BRANCH="$(Build.SourceBranchName)"
          COMMIT_SHA="$(Build.SourceVersion)"
          IMAGE_TAG="${BRANCH}-${COMMIT_SHA:0:8}"
          SCAN_IMAGE_TAG="imagescan-${IMAGE_TAG}"
          echo "Image tag: ${IMAGE_TAG}"
          echo "Scan image tag: ${SCAN_IMAGE_TAG}"
          echo "##vso[task.setvariable variable=image_tag]${IMAGE_TAG}"
          echo "##vso[task.setvariable variable=scan_image_tag]${SCAN_IMAGE_TAG}"
        displayName: 'Create image tag'
        failOnStderr: true
      #Docker login
      - task: Docker@2
        displayName: 'Docker login'
        inputs:
          command: 'login'
          containerRegistry: 'gcrServiceConnection'
      - task: DownloadSecureFile@1
        name: gcrJsonKey
        inputs:
          secureFile: 'gcr-key.json'
      - script: |
          echo "##vso[task.setvariable variable=GOOGLE_APPLICATION_CREDENTIALS]$(gcrJsonKey.secureFilePath)"
        displayName: 'Set GCR Key'
      #Docker build
      - task: Docker@2
        displayName: 'Docker Build'
        inputs:
          repository: 'prod-bip/ssb/dapla/dapla-dlp-pseudo-service'
          command: 'build'
          Dockerfile: 'Dockerfile'
          tags: $(IMAGE_TAG)
      #Docker push
      - task: Docker@2
        displayName: 'Docker Push'
        inputs:
          repository: 'prod-bip/ssb/dapla/dapla-dlp-pseudo-service'
          command: 'push'
          containerRegistry: 'gcrServiceConnection'
          tags: $(IMAGE_TAG)
