trigger:
  branches:
    include:
      - '*'
  tags:
    include:
      - '*'

jobs:
  - job: testAndBuild
    condition: not(startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    pool:
      vmImage: 'ubuntu-latest'
    variables:
      MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository
      MAVEN_OPTS: '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)' 
    steps:

      #Cache maven artifacts  
      - task: Cache@2
        displayName: Cache Maven local repo
        inputs:
          key: 'maven | "$(Agent.OS)" | **/pom.xml'
          restoreKeys: |
            maven | "$(Agent.OS)"
            maven
          path: $(MAVEN_CACHE_FOLDER)

      #Authenticate with maven
      - task: MavenAuthenticate@0
        displayName: 'Authenticate'
        inputs:
          mavenServiceConnections: 'mvnSsbBipPublic, mvnSsbBipReleases, mvnSsbBipSnapshots'

      #Download java 14
      - bash: |
          curl https://download.java.net/java/GA/jdk14.0.1/664493ef4a6946b186ff29eb326336a2/7/GPL/openjdk-14.0.1_linux-x64_bin.tar.gz --output $HOME/openjdk-14.0.1_linux-x64_bin.tar.gz
          echo $HOME
      
      #Install java 14
      - task: JavaToolInstaller@0
        inputs:
          versionSpec: '14'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'LocalDirectory'
          jdkFile: "$(HOME)/openjdk-14.0.1_linux-x64_bin.tar.gz"
          jdkDestinationDirectory: "$(HOME)/builds/binaries/externals"

      #Build
      - task: Maven@3
        displayName: 'Compile'
        inputs:
           goals: 'compile'
           options: '-P ssb-bip -DskipTests=true -Dmaven.javadoc.skip=true --batch-mode'
           mavenOptions: '$(MAVEN_OPTS)'
      
      #Run tests
      - task: Maven@3
        displayName: 'Test'
        inputs:
           goals: 'verify test'
           options: '-P ssb-bip --batch-mode'
           mavenOptions: '$(MAVEN_OPTS)'

      #Docker login
      - task: Docker@2
        displayName: 'Docker login'
        inputs:
          command: 'login'
          containerRegistry: 'gcrServiceConnection'

      #Docker build and push
      - task: Docker@2
        inputs:
          containerRegistry: 'gcrServiceConnection'
          repository: 'prod-bip/ssb/dapla/dapla-dlp-pseudo-service'
          command: 'buildAndPush'
          tags: '$(Build.SourceVersion)'
