micronaut:
  application:
    name: my-pseudo-service
  server:
    port: 10210
    cors:
      enabled: true
    thread-selection: AUTO
    max-request-size: 2gb
    multipart:
      max-file-size: 2gb

  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /api-docs/**
      swagger-ui:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /api-docs/swagger-ui/**
      rapidoc:
        paths: classpath:META-INF/swagger/views/rapidoc
        mapping: /api-docs/rapidoc/**
      redoc:
        paths: classpath:META-INF/swagger/views/redoc
        mapping: /api-docs/redoc/**

  security:
    enabled: true
    intercept-url-map:
      - pattern: /api-docs/**
        httpMethod: GET
        access:
          - isAnonymous()
    token:
      name-key: preferred_username
      jwt:
        signatures:
          jwks:
            keycloak-staging:
              url: 'https://keycloak.staging-bip-app.ssb.no/auth/realms/ssb/protocol/openid-connect/certs'

  object-storage:
    gcp:
      sid:
        bucket: ssb-dev-dapla-pseudo-service-data-export

endpoints:
  info:
    enabled: true
    sensitive: false

logger:
  levels:
    io.micronaut.security: INFO
    no.ssb.dlp.pseudo.service: DEBUG

gcp:
  kms:
    credentials-path: private/gcp/sa-keys/dev-dapla-pseudo-service-test-sa-key.json
    key-uris:
      - gcp-kms://projects/dev-sirius/locations/europe-north1/keyRings/pseudo-service-common-keyring/cryptoKeys/pseudo-service-common-kek-1
      - gcp-kms://projects/dev-sirius/locations/europe-north1/keyRings/crypto-keyring/cryptoKeys/crypto-key

sid:
  mapping.filename: "freg-snr/snr-kat-latest"
  index.filename: "sid/index"

services:
  secrets:
    impl: LOCAL
    overrides:
      pseudo-secret-testsecret1: C5sn7B4YtwcilAwuVx6NuAsMWLusOSA/ldia40ZugDI=
      pseudo-secret-ssb-common-key-1: ewogICAgImVuY3J5cHRlZEtleXNldCI6ICJDaVFBcDkxTkJncEZNdWdzSWV6OTBwQ0JJZSsyNlVqcFVsOU5YaWRlYy9saGgweWx4WFVTdFFFQUlDT3EwalMyTWxzeHFLVzRGTUJHR2lXSnAvUDZjWk5YaE9sdjV6UlQ2Z3pRVyszQTN4Y0RLNXl6SHFBcWVNVXpnTUhDNWw5RW5qVjZ2eEpEY2h1dy9nYnErRG9Gem1WMko3dWVZVGJZS1lPeFNXTEY1R0RmV1pNTVpkeXJobzVITU5OUWVsZkV6R2VROW1oK2lYQjVNaG95akl0NzVUOWk0VHZPbGMwOHdkUHRhMVlGeXdmQmsvYVJ6cmMwUUk3OXBscWVaQTdkeEtxQUFLOXBVM3lMWDlaSE93dXlMWGJUNEIyVGd1bFRTOFhHZGhCciIsCiAgICAia2V5c2V0SW5mbyI6IHsKICAgICAgInByaW1hcnlLZXlJZCI6IDIzMDE5NDIwOCwKICAgICAgImtleUluZm8iOiBbCiAgICAgICAgewogICAgICAgICAgInR5cGVVcmwiOiAidHlwZS5nb29nbGVhcGlzLmNvbS9nb29nbGUuY3J5cHRvLnRpbmsuQWVzU2l2S2V5IiwKICAgICAgICAgICJzdGF0dXMiOiAiRU5BQkxFRCIsCiAgICAgICAgICAia2V5SWQiOiAyMzAxOTQyMDgsCiAgICAgICAgICAib3V0cHV0UHJlZml4VHlwZSI6ICJUSU5LIgogICAgICAgIH0KICAgICAgXQogICAgfSwKICAgICJrZWtVcmkiOiAiZ2NwLWttczovL3Byb2plY3RzL2Rldi1zaXJpdXMvbG9jYXRpb25zL2V1cm9wZS1ub3J0aDEva2V5UmluZ3MvcHNldWRvLXNlcnZpY2UtY29tbW9uLWtleXJpbmcvY3J5cHRvS2V5cy9wc2V1ZG8tc2VydmljZS1jb21tb24ta2VrLTEiCiAgfQ==
      pseudo-secret-ssb-common-key-2: eyJlbmNyeXB0ZWRLZXlzZXQiOiJDaVFBcDkxTkJrVlRxNmZxS1JmeGltWWxXejdtQ0pFZzJLU1NyVmxQVytYaUVCYVB2alFTdFFFQUlDT3Ewang0aktaeDRGWTVJS2JOWVdoUG1NWERwWDE1TksrcVBtZjVkVVFMT3NuNXM5WEZSS1BBSUtFVitMc29VS2pZNTF5VmlwR1BSc0NCTjdHdExHT09kV09XTkk3R2R5YWhkL0dFNGpTb2NOVXc4UVFzN1M1NHpNM3pGdEtKRmE1Uk1tNW5yZldoZ0tEQ0FYZWV5WGFPTVVpYVgycTdEY0NLN2d5WXhJci83bGdNNk95eGtZTUJxWk0vR1FWMEpoWS9tNkVDbklwOUd4WUR4YTlmYjcwaFA1VEtXVjRLVmVaaDVmVTBqZ3lWWU1rLyIsImtleXNldEluZm8iOnsicHJpbWFyeUtleUlkIjoyMDMzMjU3OTMsImtleUluZm8iOlt7InR5cGVVcmwiOiJ0eXBlLmdvb2dsZWFwaXMuY29tL2dvb2dsZS5jcnlwdG8udGluay5BZXNTaXZLZXkiLCJzdGF0dXMiOiJFTkFCTEVEIiwia2V5SWQiOjIwMzMyNTc5Mywib3V0cHV0UHJlZml4VHlwZSI6IlRJTksifV19LCJrZWtVcmkiOiJnY3Ata21zOi8vcHJvamVjdHMvZGV2LXNpcml1cy9sb2NhdGlvbnMvZXVyb3BlLW5vcnRoMS9rZXlSaW5ncy9wc2V1ZG8tc2VydmljZS1jb21tb24ta2V5cmluZy9jcnlwdG9LZXlzL3BzZXVkby1zZXJ2aWNlLWNvbW1vbi1rZWstMSJ9Cg==

export:
  default-target-root: gs://ssb-dev-dapla-data-synk-ned/export

storage:
  gcs-service-account-file: private/gcp/sa-keys/dev-dapla-pseudo-service-test-sa-key.json

pseudo.secrets:
  testsecret1:
    id: pseudo-secret-testsecret1
    type: AES256
  ssb-common-key-1:
    id: pseudo-secret-ssb-common-key-1
    type: TINK_WDEK
  ssb-common-key-2:
    id: pseudo-secret-ssb-common-key-2
    type: TINK_WDEK

app-roles:
  admins:
    - kons_schu@ssb.no

